# Scope tag used in _info.select_tags and openapi2kong output
DECK_SELECT_TAG=customer-team-a

# Konnect target control plane
DECK_KONNECT_CONTROL_PLANE_NAME=example-control-plane

# Konnect API token
DECK_KONNECT_TOKEN=replace-with-konnect-token

# Optional, defaults to US region endpoint if not set
DECK_KONNECT_ADDR=https://us.api.konghq.com
